// Sign up page with forms and buttons

<h1>this is the signup page Need to style this page</h1>

/ Form for signing up
<form method="POST" action="/auth/new">
    <input type="text" name="username" id="usernameInput" placeholder="Create A Username">
    <input type="text" name="email" id="emailInput" placeholder="Email Address Here">
    <input type="password" name="password" id="passwordInput" placeholder="Create A Secure Password">
    <input type="submit" value="Sign Up Here!">
</form>