<div id="searchArea">
    <h3>This is the home page</h3>

    <form method="GET" action="/searchResults">

        <input type="text" name="searchBar">
        <input type="submit">

    </form>
</div>