// Form for signing up
<form method="POST" action="/users/profile">

    <input type="text" name="username" id="usernameInput">
    <input type="text" name="password" id="passwordInput">
    <input type="submit" value="Sign Up Here!">
</form>